<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit</title>
    <script> 

        window.location.href = `${window.location.origin}javascript/sources/pages/main.html`;

    </script>
</head>
<body>
</body>
</html>