
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile of Clearlove7</title>
      <link rel="icon" href="image/facebook-dark.png" type="image/gif/jpg/png" sizes="50x50">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/info/info.css">
      <link rel="stylesheet" href="css/about/about.css">
      <link rel="stylesheet" href="css/skill/skill.css">
      <link rel="stylesheet" href="css/proj/proj.css">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/demoapp.css">
      <link rel="stylesheet" href="css/demoapp2.css">
      <link rel="stylesheet" href="css/style_text.css">
      <link rel="stylesheet" href="css//mobile_style.css">
      <link rel="stylesheet" href="css//mobile_style2.css">
      <link rel="stylesheet" href="css//mobile_style3.css">
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="./javascript/api.js"></script>
      <script src="./javascript/mobile_column.js"></script>
      <script src="https://www.w3schools.com/lib/w3.js"></script>
      <script src="./javascript/place.js"></script>
      <script src="./javascript/select_element.js"></script>
      <!-- <script src="./javascript/change-img.js"></script> -->
  </head>
  <body class="preloading">      
    <!-- <img name="slide" alt="" id="mybg"> -->
    <img id="mybg" src="./css/img/bg12.jpg">
      <div class="Left_Header"> </div>
         <div class="Right_Header"> </div>
        <div class="mobileContainer">
          <a href="javascript:void(0);" class="myhome" onclick="ClickFunction('myclicks');">
            <i class="fa fa-home"></i>
          </a>
          <a href="javascript:void(0);" class="mobilemenu" onclick="ShineFunction('myclicks');filterSelection('back');blockFunction('hi');blockFunction('myclicks');">
          <i class="fa fa-caret-down"></i>
          </a>
          <button class="btnback" onclick="filterSelection('back');blockFunction('hi');ShineFunction('myclicks');">Menu</button>
      <div class="Myheader2"> </div>


     <li class="dropdown2">
        <a href="javascript:void(0);" class="NAV2">
          Knowledge
          <i class="fa fa-caret-down"></i>
        </a>
      <div class="dropdown_content2">
        <p class="my_nav2">
          <a href="#link1" id="link1">link</a>
          <a href="#link2" id="link2">link</a>
          <a href="#link3" id="link3">link</a>
          <a href="#link4" id="link4">link</a>
        </p>
      </div>
    </li>


    <li class="dropdown3">
      <a href="javascript:void(0);" class="NAV3" >
        Algorithms
        <i class="fa fa-caret-down"></i>
       </a>
    <div class="dropdown_content3">
      <p class="my_nav3">
        <a href="" id="link5">link</a>
        <a href="" id="link6">link</a>
        <a href="" id="link7">link</a>
        <a href="" id="link8">link</a>
      </p>
    </div>
  </li>

  <li class="dropdown4">
    <a href="javascript:void(0);" class="NAV4" >
        Contact
        <i class="fa fa-caret-down"></i>
     </a>
    <div class="dropdown_content4">
      <p class="my_nav4">
        <a href="" id="link9">link</a>
        <a href="" id="link10">link</a>
        <a href="" id="link11">link</a>
        <a href="" id="link12">link</a>
      </p>
    </div>
  </li>
 <p id="stack1">Full stack
  <i class="fa fa-bolt"></i>
 </p>
    <div class="hello" id="hi" >
    <p >Computer</p>
    <h3>ipad</h3>
    <h4>Mobile</h4>
    </div>
    <li class="dropdown">
      <a href="javascript:void(0);" class="NAV" onclick="filterSelection('back');ShineFunction('myclicks');blockFunction('hi');">
        <i class="fa fa-caret-down"></i>
      </a>
    <div class="dropdown_content">
      <div class="Mymenu">
        <div id="myclicks">
          <div class="column1">
            <span class="span1">
            <a href="javascript:void(0);" onclick="ShineFunction('myclicks');">
              <img id="mylogo" src="./image/cl7-nobg.png" alt=""></a>
          </span>
          </div>

          <div id="myBtnContainer">
            <button class="btn1" onclick="filterSelection('about');OpacityFunction('myclicks');NoneFunction('hi');"> About</button>
            <button class="btn2" onclick="filterSelection('info');OpacityFunction('myclicks');NoneFunction('hi');"> Info</button>
            <button class="btn3" onclick="filterSelection('skill');OpacityFunction('myclicks');NoneFunction('hi');">Skill</button>
            <button class="btn4" onclick="filterSelection('myproj');OpacityFunction('myclicks');NoneFunction('hi');">My project</button>
            <button class="btn5" onclick="filterSelection('blockcontext');OpacityFunction('myclicks');NoneFunction('hi');"> Text</button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </li>
  <div class="icon"><a class="fa fa-github" href="https://github.com/tuongclearlove7"></a></div>   
  <div class="icon2"><a class="fa fa-instagram" href="https://www.instagram.com/"></a></div>  
  <div class="icon3"> <a class="fa fa-facebook-square"href="https://www.facebook.com/Ytttuong1/" ></a></div> 
  <div class="icon4"> <a class="fa fa-twitter" href="https://twitter.com/?lang=vi"></a></div>  
  <div class="icon5"><a class="fa fa-apple" href="https://www.apple.com/"></a></div>


 <div class="main" >
    <div class="COUMNN about" >
      <div class="contentabout">
    
        <h2 class="textabout">about</h2>
        <h4>
            name : trần thế tường
          </h4>
        <img class="aboutimage" src="./image/to-me.png" alt="">
      </div>
    </div>
    
    <div class="COUMNN info">
      <div  class="contentinfo">
          <h2 class="textinfo">info</h2>
          <img class="infoimage"  src="./image/info2.png" aria-labelledby="explore-dropdown" alt="">
          <div id="grid__container" class="grid-container">
          <script src="./javascript/Dom.js"></script>
          </div>
      </div>
    </div>
    
    <div class="COUMNN skill">
      <div class="contentskill">
          <h2 class="textskill">skill</h2>
          <img class="skillimage" src="./image/dark-skill.png" alt="">
      </div>
    </div>
    
    <div class="COUMNN myproj">
      <div class="contentmyproj">
          <a id="toome" href="https://github.com/tuongclearlove7/App">
            <img class="myproj_image" src="./image/project-app.png" style="width: 320px;height: 110px;" alt="">
          </a>
      </div>
    </div>
    
    <div class="COUMNN blockcontext">
      <div class="contentcontext">
    
        <div class="Mycontext" onclick="console.log(this);">
          <span class="context">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis soluta nemo error? Ab nemo numquam, deleniti iure omnis nihil eaque sequi earum veritatis vitae voluptate minus in, excepturi suscipit provident.
         </span>
         </div>
      </div>
    </div>
    <div id="cl2" class="column2"></div>
    
   
       </a>
       <div id="Nav_Mobile" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('Nav_Mobile');">&times;</a>
        <div class="overlay_tab">
          <a href="#" onclick="NoneFunction('hi');">Algorithms</a>
          <a href="#">Services</a>
          <a href="#">Knowledge</a>
          <a href="#">Contact</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="Open_NAV_time" id="mytime"onclick="openNav('Nav_Mobile');" >
        <script src="./javascript/clock.js"></script>
      </a>
    
    <div id="fb-root"></div>
    <div id="fb-customer-chat" class="fb-customerchat"> </div>
    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "117828560890633");
      chatbox.setAttribute("attribution", "biz_inbox");
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
   
  </body>
  <footer class="MyFooter">
    <p class="stack2">Full stack
      <i class="fa fa-bolt"></i>
    </p>
    <div class="ads_left">
      <a href="">Product</a>
      <a href="">Security</a>
      <a href="">Blog</a>
      <a href="">Shop</a>
    </div>
    <div class="ads_right">
      <a href="">Front-end</a>
      <a href="">Back-end</a>
      <a href="">Development</a>
      <a href="">Technologies</a>
    </div>
    <p  href="" class="license">© - By Clearlove7★. Profile 2022</p> 
    </footer>
  </html>









