<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CL-ZONE-BotChat-Facebook</title>
    <link rel="stylesheet" href="css/hide.css">
    <link rel="stylesheet" href="css/hide2.css">
    <link rel="icon" href="image/facebook-dark.png" type="image/gif/jpg/png" sizes="50x50">
        <script type="module" src="javascript/hide_en.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    </head>
    <body>
        <div class="between">
          </div>
          <div class="icon"><a class="fa fa-github" href="https://github.com/tuongclearlove7"></a></div>   
          <div class="icon2"><a class="fa fa-instagram" href="https://www.instagram.com/"></a></div>  
          <div class="icon3"> <a class="fa fa-facebook-square"href="https://www.facebook.com/" ></a></div> 
          <div class="icon4"> <a class="fa fa-twitter" href="https://twitter.com/?lang=vi"></a></div>  
          <div class="icon5"><a class="fa fa-apple" href="https://www.apple.com/"></a></div>
          <div class="home">
        <a class="fa fa-home" href=""></a>
        <a class="menu" href="">Home</a>
        </div>
        <hr class="le"> 
        <p class="hello">Vô đây cẩn thận bị hack nick đó nha hahaha</p>
        <iframe class="frame" src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2F117828560890633%2Fphotos%2Fa.117828614223961%2F117828830890606%2F&show_text=true&width=500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'></iframe> 
        <iframe  class="frame2" src="https://www.youtube.com/embed/us8kABcQ_Pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      <div class="all-text">
      <ul class="text">
        <h4>My interest</h4>
        <a href="https://vi.wikipedia.org/wiki/%C4%90%E1%BB%99i_tuy%E1%BB%83n_b%C3%B3ng_%C4%91%C3%A1_qu%E1%BB%91c_gia_Vi%E1%BB%87t_Nam">Football</a><br>
        <a href="https://www.wikihow.com/Code">Write code</a><br>
        <a href="https://www.codelean.vn/">Learn code</a><br>
        <a href="https://vi.wikipedia.org/wiki/T%E1%BA%A5n_c%C3%B4ng_t%E1%BB%AB_ch%E1%BB%91i_d%E1%BB%8Bch_v%E1%BB%A5">Attack internet</a><br>
        <a href="https://appwrite.io/"> Write App</a>
      </ul> 
    <br>
  </div>
  <div class="docs">
    <p>Đây là trang web do tôi code nó là trang web (front-end) của bot chat facebook , trang web chính thức ra đời ngày 19/7/2022
      trang web này vẫn chưa hoàn thiện và vẫn đang được nâng cấp qua từng ngày , ai vô thăm trang thì nhớ để lại 1 like logo của tui
      nhé thank you nhiều <3 hehehe
    </p>
  </div>

</div>
</div>
</body>
</html>

   
