<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <li><a href="/"></a>a</li>
        <li><a href="/about">b</a></li>
        <li><a href=""></a></li>
    </div>
    
    <div class="about content">

        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga aut tempore soluta, error quaerat doloribus quod dolore magni? Iste voluptatem officia placeat animi dolorem quibusdam aliquid unde, voluptate aspernatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam sapiente possimus ex, repellendus, recusandae inventore tempora dignissimos id deserunt magnam quae, saepe excepturi odio itaque beatae provident facere suscipit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda fugiat dolor debitis accusamus repellendus optio minus voluptates ea, reprehenderit, adipisci iste deleniti. Totam aut, sapiente qui excepturi vitae corporis provident.</p>
        

    </div>

</body>
</html>