<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile of Clearlove7</title>
    <link rel="stylesheet" href="css/hide.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style_text.css">
    <link rel="icon" href="image/facebook-dark.png" type="image/gif/jpg/png" sizes="50x50">
    <!-- <script type="module" src="javascript/hide_en.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  </head>
    <body>
      
        <!-- <img id="mybg"  src="./image/big_bg.png" alt=""> -->
        <div class="Myheader">
            <div class="home">
              <a class="fa fa-home" href=""></a>
              <a class="menu"  href="">
              </a>
              </div>
              <!-- <div class="myhome"><a href="">home</a></div> -->
            </div>
            <div class="Myheader2">
            </div>
  
           
            <div class="icon"><a class="fa fa-github" href="https://github.com/tuongclearlove7"></a></div>   
            <div class="icon2"><a class="fa fa-instagram" href="https://www.instagram.com/"></a></div>  
            <div class="icon3"> <a class="fa fa-facebook-square"href="https://www.facebook.com/Ytttuong1/" ></a></div> 
            <div class="icon4"> <a class="fa fa-twitter" href="https://twitter.com/?lang=vi"></a></div>  
            <div class="icon5"><a class="fa fa-apple" href="https://www.apple.com/"></a></div>
          
           
            <div class="Timeline">
              <p id="mytime"></p>
              <script>
              let date = new Date();
              let hours = date.getHours();
              let minutes = date.getMinutes();
              let seconds = date.getSeconds();
              let present = `Time : ${hours}:${minutes}:${seconds}`;
              console.table(present);
              document.getElementById("mytime").innerHTML = present;
        </script>

</div>
<div class="hello">
  <a href="">Hello I'm Clearlove7★ :D</a>
</div>



<div class="column1">
  <img id="mylogo" src="./image/cl7-nobg.png" alt="">
</div>
<div class="main">
    <div id="myBtnContainer">
      <button class="btn1" onclick="filterSelection('about')"> About</button>
      <button class="btn2" onclick="filterSelection('info')"> Info</button>
      <button class="btn3" onclick="filterSelection('skill')">Skill</button>
      <button class="btn4" onclick="filterSelection('myproj')">My project</button>
      <button class="btn5" onclick="filterSelection('blockcontext')"> Vocabulary</button>
      <button class="btnback" onclick="filterSelection('MyMenu')"> Back</button>
    </div>

    <div class="COUMNN about">
        <div class="contentabout">
    
          <h2 class="textabout">about</h2>
          <h4>
              name : trần thế tường
            </h4>
          <img class="aboutimage" src="./image/to-me.png" alt="">
        </div>
      </div>
    
      <div class="COUMNN info">
        <div class="contentinfo">
            <h2 class="textinfo">info</h2>
            <img class="infoimage"  src="./image/info2.png" alt="">
        </div>
      </div>
    
      <div class="COUMNN skill">
        <div class="contentskill">
            <h2 class="textskill">skill</h2>
            <img class="skillimage" src="./image/dark-skill.png" alt="">
        </div>
      </div>
    
      <div class="COUMNN myproj">
        <div class="contentmyproj">
            <a id="toome" href="https://github.com/tuongclearlove7/App">https://github.com/tuongclearlove7/App</a>
        </div>
      </div>
  
    <div class="COUMNN blockcontext">
        <div class="contentcontext">

          <div class="Mycontext">
            <span class="context">
              success: "thành công",age: "tuổi",successfully:"thành công",deploy:"triển khai",
              install : "tải về",download:"tải xuống",fuck : "chết tiệt",page : "trang",horizontal:'nằm ngang, thuộc về chân trời',
              mark : "dấu",snake : SearchBot[28],my : "mãi mãi",socket : "ổ cắm",depend:'tùy, tùy thuộc vào',
              pass : "qua , đưa qua, cho qua",local : "cục bộ, địa phương",password : "mật khẩu",
              archive : "lưu trữ",tets : SearchBot[27],standalone : "Độc lập",information : "thông tin",
              system : "hệ thống",job : "công việc",mountain:"núi",tree:"cây ",rush:"cây bấc",synchronized:'đồng bộ',
              technical : "kỹ thuật",technology : "công nghệ", invironment : "môi trường",scene : "bối cảnh",
              screen : "màn hình",component : "thành phần", comment : "bình luận",code : "mã", launch:"phóng",
              source : "nguồn",commit:"cam kết",book : "sách",place : "vị trí",marketplace : "thường trường",
              market : "thị trường , chợ",supermarket:"siêu thị",exchange : "giao lưu", chat : "trò chuyện",
              trash : "rác rưởi", garbage : "rác",know : "biết",get : "mắc phải",request : "yêu cầu",
              quick : "nhanh chóng", test : "thử",use : "sử dụng", user:"người dùng",graphic : "đồ họa",
              config:"cấu hình",inter : "chôn cất",face : "mặt, đối mặt", pointer : "con trỏ",impossible:'không thể nào',
              falcon : "chim ưng", heave : "phập phồng",hear : "nghe",match : "trận đấu",math : "toán",
              twist : "vặn",change : "thay đổi",none : "không ai",null : "vô giá trị",view : "lượt xem",
              see : "trông thấy , xem",active:"tích cực",negative : "từ chối",service : "dịch vụ",async:'không đồng bộ',
              engine : "động cơ",game : "trò chơi",play : "chơi",player : "người chơi",work : "công việc , làm việc",
              convert : "chuyển đổi",for : "vì",because:"bởi vì",beautiful:"đẹp , xinh đẹp",bad : "tệ",
              so : "rất",sad : "buồn bã",disappointed : "thất vọng ",native : "tự nhiên",control :"điều khiển",
              express : "bày tỏ",expression : "biểu hiện",ruler : "cây thước",rule : "luật lệ",water : "nước",
              football : "bóng đá",soccer : "đá bóng",liquid : "chất lỏng",clear : "thông thoáng , xóa, quét",
              clean :"dọn dẹp",love : "yêu",nice : "đẹp",good : "tốt",an :"một",A : "1",find : "tìm , tìm thấy",
              more: "hơn",most :"hầu hết",stop : "dừng lại",next : "tiếp tục, kế tiếp",mess :"sự lộn xộn",
              message : "tin nhắn",massage : "mát xa",comfortable:"thoải mái",very : "rất",done :"xong",
              package:"bưu kiện",pack:"đóng gói",contruct : "xây dựng",submation:"sự phụ thuộc",//  navigator
              subtraction : "phép trừ",any : "không có gì",do:"làm",while:"trong khi",loop:"lặp, lặp lại",
              perform:"thực hiện",flatform : "hình phẳng",flat:"bằng phẳng",form : "biểu mẫu",items :'mặt hàng',
              template:"bản mẫu",temp:"nhân viên bán thời gian",tamed:"thuần hóa",Notification:"thông báo",
              server:"máy chủ",remote:"xa xôi",verify:"xác minh",token:"mã thông báo",application:"ứng dụng",
              software:"phần mềm",tool:"dụng cụ",login:"đăng nhập",signin:"đăng nhập",development:'sự phát triển',
              console:"bàn điều khiển",extension:"sự mở rộng",explore:"khám phá",export:"xuất khẩu",import:'nhập khẩu',
              Attachment:"tập tin đính kèm",signup:"đăng ký",element : "các yếu tố",encode:"mã hóa",product:'sản phẩm',
              decode:"giải mã",boot:"khởi động",root:"nguồn gốc",document:"tài liệu",directory:"danh mục",
              dictionary:"từ điển",dict :"mệnh lệnh",direct:"trực tiếp, thẳng thắn",engineer : "kỹ sư",develop:'phát triển',
              spam:"❌ stop! không được spam ❌",VN: "Việt nam vô địch, Việt Nam number one1 😂",developer:'nhà phát triển',
              war : "❌ stop! không được phép nói tục ❌",russia: SearchBot[30],Einstein:SearchBot[31],
              newton:SearchBot[32],hacker:SearchBot[33],communism:`${received_message.text} : `+SearchBot[34],
              stackoverflow:SearchBot[35],language:"ngôn ngữ",received:"nhận",program:"chương trình",programming:"lập trình",
              foreign :"ngoại quốc",my :"của tôi",champion :'vô địch',lose  :"thua",win  :"thắng",height  :"chiều cao",width  :"chiều rộng",
              main :"chính",origin :"gốc",value :"giá trị",default :"mặc định",navigator :"hao tiêu",display:'giao diện',
              string :"chuỗi",integer :"số nguyên",decimal :"số thập phân",prime :"số nguyên tố",invalid:'không hợp lệ',
              print :'in',paint :"sơn",publish :"xuất bản",list :"danh sách",push :"đẩy",error :"lỗi",contact:'tiếp xúc',
              warning :"cảnh báo",translate :"dịch",invite :"mời",cross :"đi qua",right :"phải",left :"trái",latitude:'vĩ độ',
              intial :'bên trong',index :"mục lục",try :"thử",press :"nhấn",phising :"lừa đảo",longitude:'kinh độ',
              plugin :"cắm vào",upper :"viết hoa",lower :"viết thường",reserved :"kín đáo",property :"tài sản",//inter
              mason :"thợ nề",space :"khoảng cách, không gian",pain :"đau đớn",new :"mới",content :"nội dung",
              navigative:'điều hướng',visual:'trực quan',slogan:'khẩu hiệu',great:'tuyệt vời',direction:'hướng đi'
           </span>
           </div>
        </div>
      </div>

      <div class="MyMenu">
        <div class="contentback">
          

        </div>
      </div>
</div>

<script>
   
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("COUMNN");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
  }
}

function AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
<div class="con">
  <a  href="" class="license">© - By Clearlove7★. Profile 2022</a> 
  </div>

</html>
   
