<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile Clearlove7 Blog</title>
<!-- <script src="./javascript/select_element.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css2/style1.css">
<link rel="stylesheet" href="css2/style_mobile1.css">
</head>
<body >
   <div class="header1">
    <div class="nickname">Clearlove7★</div>
    </div>
    <div class="header_item_2">
        <div id="page_id">
        </div>
    </div>
    <div class="menu"></div>    
    <h3 id="list_api2"></h3>
      <div class="api1">
        <h2>
          <ul id="list_api">
            <li>
                
            </li>
            </ul>
        </h2>
    </div>
    
    <div class="layout_after" id="layout_after_id">
            
        </div>
        <div class="image_git">
            <img src="./image/git.png" alt="">
        </div>
        <div id="footer">
        </div>
        
            <script type="module" src="./javascript/showObjectHtmlElement.js"></script>
            <script src="./javascript/app.js"></script>
</body>
</html>