<html>
<head>
<title>By clearlove7</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="crush.css">
<link rel="icon" href="https://vcdn.tikicdn.com/ts/seller/ee/41/30/2d36b32d031e0f6723fd4617e8fa84eb.jpg">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
<body>
<img class="tym" width="100px" src="https://cdn.pixabay.com/photo/2012/04/01/18/51/hearts-24007_1280.png">
<h1>Cậu làm người yêu tớ nha❤</h1>
<button class="nut2">đéo</button>
<a class="nut1" href="yes.html">đồng ý</a>
<script>
	$('button').on('mouseover', function () {
		$(this).animate({
			'top': Math.random() * window.innerHeight + "px",
			'right': Math.random() * window.innerWidth + "px"
		}, "medium");
	})
</script>
<style>
	html{
		background-image: url(https://pa1.narvii.com/6737/6e8228ed61da3bbf94abd44ad0987ef070380824_hq.gif);
		background-size: cover;
		
	}
	h1{
		font-size: 30px;
		text-align: center;
		color: rgb(248, 69, 108);
	}
	.tym{
		position: relative;
		margin-left: 630px;
		margin-top: 100px;
		height: 70px;
		width: 70px;
		animation: image 4s linear infinite;
	}
	
	.tym img {
		height: 80px;
		width: 90px;
		animation: image 4s linear infinite;
	}
	
	@keyframes image{
		0% {
			transform: scale(.5);
		}
	
		50% {
			transform: scale(1.5);
		}
	
		100% {
			transform: scale(.5);
		}
	}
	
	.nut1{
		background-color: red;
		font-size: 20px;
		margin-left: 39.5rem;
		color: white;
		text-decoration: none;
		border: 3px solid red;
		border-radius: 10px;
	}
	
	.nut2{
		position: absolute;
		font-size: 20px;
		text-decoration: none;
		background: red;
		color: white;
		margin-top: 50px;
		margin-left: 39.8rem;
		text-align: center;
		border: 3px solid red;
		border-radius: 10px;
	}
</style>
</body>
</head>
</html>
