

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1"><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--[if lt IE 9]>
    <script src="../js/css3-mediaqueries.js"></script><![endif]-->
    <title>
	Hóa đơn Học phí
</title><meta http-equiv="X-UA-Compatible" content="IE=10" /><meta name="Description" content="Chào mừng đến với MyDuyTan để được sử dụng các ứng dụng như: DTU mail, Thư viện Điện tử, Đào tạo Từ xa, Forum, Lịch cá nhân, Lịch học, Lịch dạy, Xem điểm, Quản lý Đề cương, Xem Chương trình học, Cố vấn Học tập, Đánh giá Giảng viên, Tin tức, Thông báo, Đăng ký Môn học Tín chỉ, ..." /><link rel="Shortcut Icon" href="../images/DTU.ICO" type="image/x-icon" /><link href="../MasterPages/jquerytooltip/jquery-ui-1.11.4.css" rel="stylesheet" type="text/css" />
        <link href='../MasterPages/css/reset.css' type='text/css' rel='stylesheet' /><link href='../MasterPages/css/red.css' type='text/css' rel='stylesheet' /><!--[if IE 6]><link href='../MasterPages/css/ie6.css' type='text/css' rel='stylesheet' /><![endif]-->
    
    <script type="text/javascript" src="../js/jquery/jquery-1.11.1.min.js"></script>
    
    <script type="text/javascript" src="../MasterPages/jquerytooltip/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="../admin/js/commonjs.js"></script>
    <script type="text/javascript" src="../Content/js/url_endcode_decode.js"></script>
    <script type="text/javascript" src="../js/nt_script_util.js"></script>
    <script type="text/javascript" src="../js/jquery/plugins/datepicker/jquery.ui.datepicker-vi.js"></script>
    <script type="text/javascript" src="../MasterPages/notification/ohsnap.js"></script>

    <style type="text/css">
        #ohsnap {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 999999;
        }

        .alert {
            padding: 15px;
            margin-bottom: 0;
            border: 1px solid #eed3d7;
            border-radius: 4px;
            float: right;
            clear: right;
        }

            .alert a {
                color: aqua;
                text-decoration: underline;
            }

        .alert-red {
            color: white;
            background-color: #DA4453;
        }

        .alert-green {
            color: white;
            background-color: #37BC9B;
        }

        .alert-blue {
            color: white;
            background-color: #4A89DC;
        }

        .alert-yellow {
            color: white;
            background-color: #F6BB42;
        }

        .alert-orange {
            color: white;
            background-color: #E9573F;
        }
    </style>
    <link href="../MasterPages/popup_js/css/style.css" rel="stylesheet" />
    <script src="../MasterPages/popup_js/js/jquery.js"></script>
    <script src="../MasterPages/popup_js/js/popup.js"></script>
</head>
<body>

    <!--jQuery Modal Popup-->
    

    <!--End-->

    
    <!--hien thi so luong thong bao-->

    <script type="text/javascript">
        //Show menu when responsive
        function ShowHideMenu() {
            //alert("before show menu");            
            $("#left_zone").slideToggle("slow");
        }  
        function ScreenClick(control) {
            document.getElementById(control).click();
        }
    </script>
    <!--end hien thi so luong thong bao-->
    <div id="ohsnap"></div>
    <form name="aspnetForm" method="post" action="./index.aspx?p=home_schoolfeeinvoice_student&amp;functionid=109" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="1PXyN3OUKq/cG/etxnSMoYJuAyDZRjV3L3MYe9Xu82iDfO8LVG3ZecRiGZNlO5XIuDzZf66OWE4uiVyDZKYR9sQAeePYHKz7ijJWPElfODJ8cyMJE3dPgxv4AGnn8PC5k9/MSbKcEDttUx3kBekyl5yB8C0GCXowR9vuMZEz/eObnXcvLtEBoRb2rodv1rJ8VVwA3PP76/Rl3sirQ9e/YO83HEH+ZSJslz478dKWFcUBHgXSM4XckC+bmVpJJHX61mmV8t3FSK1zABUp2d07AjCr6Yw3o/yJ+TadhgFQ8o4yQ4PRONTCvdSVlCLvku/DoSH7rkw/x/yUC2tDDIX5ir2vAksgepcPsSQLgAVHbVA/G6F+CHMVDLHq9OmqlmYoGT+c20ozRLqMrBzFRGR291FR091SklMe6Ty56b7Ip0swEoBUW61jCcylSj75O1ZNWK91jDy7b//kSaQFaZfUj0dJYKjO+bPIQiLKNKsd5bbFjFgkKqcXqrHnYzMi+FEaa9bGCTKIPujGc9BpRaSN7ZDmYCHlZ1MUub58ioYgdkd1F4BIoaIrrRB0HRv9DFWkW//2zqjzJI3bUbGGPyswSEE7i9Oe6wgdxg89NoOpZiCX42vULvQdDy1bXRYfxNNhqFmrqQUeZ/XXvxIPr5gCegazwth6vIq4eTVX7NYy8+S3BBSBp1GyWnxqfu/Jq0ERj0j38hD/uU8fqJ5ZHHP0eWVdOQSNbqlr2Av5Wbp0fxjJgReFAz2AT11y0PUj2haR1eqjy1IsS8scfmMha4T0UWCOo7hAI4zmPUUFHlXjuhxE9o6tMSnW4b68/4SRfOBNYtvx1ZkJ1tkMVKQGF4tJBET4827Z2OTypPX/7FWDJmqpAyUM" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=u16sj4NWsHXaIRhUUu3UD8bz7OZGTztYZowEs8jcdaLJK665uQm1U1i575XU4hTQwxdfyrUUOsNCAib20&amp;t=637811981229275428" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=GS80YWhTpFNqKGHTwq5hs8D3DfY0PI4qN3DF2KLwbwknl3jHA7G9fi_GmxGvQ9pyRVacUxRf8yZp8x9tYa4knfQNwLEKmdJPVk2Muz6vrZDX5F18JV9sKz2EAZO-0f9IVWqvXXttbTID09mLoUyVw0Plvr81&amp;t=ffffffffaa493ab8" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=S6UaPArvm8dKzdMPtJLUZR9Gp8L_FEl_w6vuu9FWyVYXlkk976Oi2t08gMFoBNl5ti6wGgEp8mYtfrnm255kIQ5dA5Tn8r9H6147mrsiC_RpkGQhFBKwr3IFgcN12OcOvWjsn72uQsUA9e1NnmKfAhYaZlyUo1rwBZpc6g2&amp;t=ffffffffaa493ab8" type="text/javascript"></script>
<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="3BBC689A" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="TLlOC/R7ZRZnASJ6M76lJU00JZFtnc0CkhXWZQzpYCenia9KpEfA/pggRjASah/UKqwQz1NHX7thhis352uo6JdyPMwuiG4aG94Y02csr5ge0CHBc2HSYir1LvPpfWy9UzAcMGIB1jg/fYF9J5oEYfPA7zLBwQV2/FfDMeSdeIqgEpBuTVAD/4dbJ02jcf7yDKZM9PzHRbA++XWUlMTXWhrj5cNgLcTRChqzK+fZcMc8pytE+viRl7IDgSezINikraPixQAalFRPTP+3j8qMULYeIhFnXTs0XCTNB2Seqt1aR21shQjgw/vfw+igByVcbtzzmEyFTlLhzydOwTnszoE17HwAG03Trix4dXz8I6omgrmCmmiT7EqubhPpVGzLiloXK+IF8ZsyS3M+mPHio00X4j3yzu4NQb5t8yj2iPyqi6g1CtvsQ1kLyueJhIjfDqAgWF05l1o24UBBHhMqJ6Oki9cSERnvXuJXOUpjFmUWFop/JJiSTxzChGJriuAmYpi2+n8Mhcy92C4rIb7Jq+9Kxfzqe/QxTz113g==" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', ['tctl00$PlaceHolderContentArea$ctl00$ctl01$UpdatePanelListOfClassBySemester','','tctl00$PlaceHolderContentArea$ctl00$ctl01$UpdatePanel1','','tctl00$PlaceHolderContentArea$ctl00$ctl01$UpdatePanel3',''], [], [], 90, 'ctl00');
//]]>
</script>

        <input type="submit" name="ctl00$btnSetMobileScreen" value="Mobile Screen" id="ctl00_btnSetMobileScreen" style="display: none" />
        <input type="submit" name="ctl00$btnSetDesktopScreen" value="Desktop Screen" id="ctl00_btnSetDesktopScreen" style="display: none" />
        <div id="wrapper">

            <div class="screen">
                <img src="../MasterPages/images/phone-screen.png" class="mobile" alt="" title="View Mobile Devices Screen"
                    onclick="ScreenClick('ctl00_btnSetMobileScreen')" /><img src="../MasterPages/images/desktop_screen3.png" class="desktop" alt="" title="View Desktop Screen"
                        onclick="ScreenClick('ctl00_btnSetDesktopScreen')" />
            </div>
            <div id="header">
                <span id="ctl00_lblVersion" style="color:#BFCADB;position: absolute; top: 0; left: 0; z-index: 1000"></span>

                <div id="header-wrapper">

                    <div class="header-top">
                        <a class="logo" href="#">ĐẠI HỌC DUY TÂN</a>
                        

<script type="text/javascript">

    //function loadAjaxTopMenu() {
    //    var dd = new Date();
    //    //$("#area-topmenu").html("<div align='left' style='padding-top:20px;'><img src='../images/ajax-loader.gif' /></div>");
    //    $("#area-topmenu").load("../Modules/portal/ajax/TopMenuList.aspx?t=" + dd.getTime(), { symbol: $("#area-topmenu").val() });
    //}

    //$(document).ready(function() {
    //loadAjaxTopMenu();
    //});
</script>

<div id="area-topmenu">
    
    

<ul id="nav">
    <li class="first light"></li>
    <li class=""><a href="../../sites/index.aspx?p=home_personalcalendar">
        <table>
            <tbody>
                <tr>
                    <td valign="middle" class="img">
                        <img src="../../Uploads/Menu/33m-home.png"></td>
                    <td><a style="padding: 0 !important; height: 52px;" href="../../sites/index.aspx?p=home_personalcalendar">Trang chủ</a></td>
                </tr>
            </tbody>
        </table>
    </a></li>
    <li class=""><a href="#" onclick="javascript:window.open('../../Email.aspx');">
        <table>
            <tbody>
                <tr>
                    <td valign="middle" class="img">
                        <img src="../../Uploads/Menu/32truycap.png"></td>
                    <td>
                        <!--<a href='#' onclick="javascript:window.open('../Email.aspx')" style='padding:0 !important; height:52px;'>-->
                        DTU Mail<!--</a>--></td>
                </tr>
            </tbody>
        </table>
    </a></li>
    
    <li class=""><a href="#" onclick="javascript:window.open('https://studyresource.duytan.edu.vn/elearning.html?t=638012596623560281');">
        <table>
            <tbody>
                <tr>
                    <td valign="middle" class="img">
                        <img src="../../Uploads/Menu/12elearning.png"></td>
                    <td>
                        <!--<a href='#' onclick="javascript:window.open('../Elearning.aspx')" style='padding:0 !important; height:52px;'>-->
                        Learning<!--</a>--></td>
                </tr>
            </tbody>
        </table>
    </a></li>
    <li class=""><a href="#" onclick="javascript:window.open('../../Sites/ssoforum.aspx');">
        <table>
            <tbody>
                <tr>
                    <td valign="middle" class="img">
                        <img src="../../Uploads/Menu/35diendan.png"></td>
                    <td>
                        <!--<a href='#' onclick="javascript:window.open('../Sites/ssoforum.aspx')" style='padding:0 !important; height:52px;'>-->
                        Forum<!--</a>--></td>
                </tr>
            </tbody>
        </table>
    </a></li>
    <li class=""><a href="#" onclick="javascript:window.open('../../Sites/ssoelib.aspx');">
        <table>
            <tbody>
                <tr>
                    <td valign="middle" class="img">
                        <img src="../../Uploads/Menu/54thuvien.png"></td>
                    <td>
                        <!--<a href='#' onclick="javascript:window.open('../Sites/ssoelib.aspx')" style='padding:0 !important; height:52px;'>-->
                        e-Lib<!--</a>--></td>
                </tr>
            </tbody>
        </table>
    </a></li>
        
</ul>

    
</div>

                        <span class="language"><a class="vn active" href='https://mydtu.duytan.edu.vn/sites/index.aspx?p=home_schoolfeeinvoice_student&functionid=109&lang=vn' title="Tiếng Việt">Việt Nam</a><a
                            class="en " href="https://mydtu.duytan.edu.vn/sites/index.aspx?p=home_schoolfeeinvoice_student&functionid=109&lang=en" title="English language"><!--style="color: #C4BAB9; cursor: default" title="disabled"-->English</a>
                            <a class="bluetheme" href="https://mydtu.duytan.edu.vn/sites/index.aspx?p=home_schoolfeeinvoice_student&functionid=109&theme=blue">Blue theme</a><a class="redtheme" href='https://mydtu.duytan.edu.vn/sites/index.aspx?p=home_schoolfeeinvoice_student&functionid=109&theme=red'>Red
                            theme</a></span>
                        
                        
                        <span id="ShowHideMenu" class="menu-link fa fa-bars" onclick="ShowHideMenu()"></span>

                    </div>
                    <div id="subheader">
                        
                        <div class="date-clock">
                            <div class="clock">
                                <div class="time" id="mydate">
                                </div>
                                <div class="date">
                                    Thứ năm,
                                ngày 13 tháng 10 năm 2022
                                </div>
                            </div>
                            <div class="info">
                                <a href="../Email.aspx" target="_blank" title="mail@dtu.edu.vn">mail@dtu.edu.vn</a>
                                <a style="cursor: pointer;" onclick="javascript:window.open('https://studyresource.duytan.edu.vn/elearning.html?t=638012596623560281')" target="_blank" title="Học tập Trực tuyến">
                                    Học tập Trực tuyến</a> <a href="../Sites/ssoforum.aspx" target="_blank"
                                        title="Diễn đàn Học tập DTU">
                                        Diễn đàn Học tập DTU</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content">

                

<style type="text/css">
    /*Disable responesive menu*/
    .menu-link {
        display: none;
    }
    /*End disable responesive menu*/
    #ctl00_PlaceHolderContentArea_ctl00_TopZone {
        display: none;
    }
    /*BG color is a must for IE6*/
    .tooltip span.content {
        display: none;
        padding: 2px 3px;
        margin-left: 0px;
        width: 130px;
        text-align: center;
    }

    .tooltip:hover span.content {
        display: block;
        position: absolute;
        border: 1px solid #cccccc;
        background: #ffffff;
        color: #6c6c6c;
        font-weight: normal;
        top: 45px;
        line-height: 15px;
    }

    .ttt span.ccc {
        display: none;
        padding: 5px;
        margin-left: 0px;
        text-align: left !important;
        z-index: 9999;
        border-radius: 5px;
    }

    .ttt:hover span.ccc {
        display: block;
        position: absolute;
        border: 2px solid #cccccc;
        color: #000;
        background-color: #F6F6F6;
        font-weight: normal;
        line-height: 15px;
        left: 0px;
        top: 17px;
        width: 250px;
    }
</style>


<script type="text/javascript">
    function loadAjaxTuanThu(tuanthu) {
        $("#tuanthu").empty();
        var dd = new Date();
        $("#tuanthu").load("../Layouts/LoadTuanThu.aspx?t=" + dd.getTime() + "&tx=" + Url.encode(tuanthu), { symbol: $("#tuanthu").val() });
    }
</script>

<div class="welcome">
    <div class="hello man">Trần Thế Tường</div>
    <div class="sitemap" id="area-sitemap">
        <span><img width='16px' height='16px' src='../MasterPages/icons/hocphi.png' alt=''/><span class='title'>Hóa đơn Học phí</span></span>
    </div>
    
    <div class="box-logout">
        <span class="number-annoucement tooltip"><span class="content">
            Bạn có <b>3</b> Thông báo, Tin tức & Sự kiện mới</span>
            <div class='subnav'>
                
            </div>
            
            <span class="number">
                3
            </span>
            </span><a class="profile tooltip" href="index.aspx?p=home_userinfor" alt="" style="position: relative;"><span
                    class="content" style="width: 101px">Thông tin Cá nhân</span>
                </a><a class="exit exit-vn tooltip" href="../logout.aspx" alt="" style="position: relative;">
                    <span class="content" style="width: 50px">
                        Thoát</span> </a>
    </div>
</div>
<div id="content_border">
    
    <div id="zone">
        <div id="top_zone">
            <div id="ctl00_PlaceHolderContentArea_ctl00_TopZone" class="column" style="width:100%;">
	
            
</div>
        </div>
        <div id="middle_zone" style="background: url(../MasterPages/images/bg_middle_zone.jpg) repeat-y left top">
            <div id="left_zone" style="float: left">
                <div id="ctl00_PlaceHolderContentArea_ctl00_LeftZone" class="column1">
	
                

<div id="content_left">
    <div id="main_control">
        
        <div class="accordion2" id="area-leftmenu">
            <span id="ctl00_PlaceHolderContentArea_ctl00_ctl00_ucLeftMenuList1_lblLeftMenu"></span>
<p class='item'  class='he'>Thông tin Cá nhân</p><ul><li><a href='../sites/index.aspx?p=home_userinfor&functionid=30' ><span>Thông tin Cá nhân</span></a></li><li><a href='../sites/index.aspx?p=home_changepassword&functionid=25' ><span>Mật khẩu</span></a></li><li><a href='../sites/index.aspx?p=home_searchuser&functionid=75' ><span>Tìm kiếm Người</span></a></li></ul><p class='item' >Dành cho Tân Sinh viên</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=169' ><span>Cơ sở Vật chất & Trang thiết bị</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=168' ><span>Thư viện & Giáo trình</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=170' ><span>Phương pháp Học tập, Nghiên cứu Khoa học</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=172' ><span>Hỗ trợ Sinh viên</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=171' ><span>Hoạt động Sinh viên</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=173' ><span>Video về DTU</span></a></li><li><a href='../sites/index.aspx?p=home_admissionformchecklist&functionid=185' ><span>Cập nhật Hồ sơ Nhập học</span></a></li></ul><p class='item' >Tin tức & Thông báo</p><ul><li><a href='../sites/index.aspx?p=home_portalnews&functionid=10' ><span>Tin tức & Sự kiện</span>&nbsp;<span class='notreadnum'>[0]</span></a></li><li><a href='../sites/index.aspx?p=home_announcements&functionid=11' ><span>Thông báo</span>&nbsp;<span class='notreadnum'>[3]</span></a></li></ul><p class='item' >Lịch</p><ul><li><a href='../sites/index.aspx?p=home_personalcalendar&functionid=12' ><span>Lịch cá nhân</span></a></li><li><a href='../sites/index.aspx?p=home_timetable&functionid=13' ><span>Lịch học</span></a></li></ul><p class='item' >Học tập</p><ul><li><a href='../sites/index.aspx?p=home_semester&functionid=35' ><span>Đăng ký Môn học</span></a></li><li><a href='../sites/index.aspx?p=home_bangdiem&functionid=14' ><span>Bảng điểm</span></a></li><li><a href='../sites/index.aspx?p=home_listcurriculum&functionid=37' ><span>Chương Trình học</span></a></li><li><a href='../sites/index.aspx?p=home_view_syllabus_grading_classbysemester&functionid=81' ><span>Đề cương Môn học</span></a></li><li><a href='../sites/index.aspx?p=home_grading_classbysemester&functionid=82' ><span>Bảng điểm Cụ thể</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=142' ><span>Hướng dẫn Sử dụng SAKAI (cho Sinh viên)</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=147' ><span>Hướng dẫn Sử dụng ZOOM (cho Sinh viên)</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=164' ><span>Hướng dẫn Thi Online (cho Sinh viên)</span></a></li><li><a href='../sites/index.aspx?p=home_testing_classbysemester&functionid=186' ><span>Đề thi, Bài tập</span></a></li></ul><p class='item' >Cố vấn Học tập</p><ul><li><a href='../sites/index.aspx?p=home_listmentor&functionid=76' ><span>Giảng viên Cố vấn</span></a></li><li><a href='../sites/index.aspx?p=home_studyingwarning&functionid=113' ><span>Cảnh báo Học tập</span></a></li><li><a href='../sites/index.aspx?p=home_sar_listsemester&functionid=159' ><span>Đánh giá Rèn luyện</span></a></li><li><a href='../Sites/ssokbnt.aspx?functionid=162'  target='_blank'><span>Khai báo Ngoại trú</span></a></li></ul><p class='item' >Đánh giá & Khảo sát</p><ul><li><a href='../sites/index.aspx?p=home_ratingchoicesemester&functionid=15' ><span>Đánh giá Giảng viên</span></a></li><li><a href='../Sites/ssokbksdtu.aspx?functionid=144'  target='_blank'><span>Khai báo Y tế Sinh viên/Giảng viên</span></a></li><li><a href='../sites/index.aspx?p=home_selfassessment&functionid=157' ><span>Đăng ký chương trình miễn phí Data</span></a></li></ul><p class='item active' >Học phí</p><ul style='display: block;'><li><a href='../sites/index.aspx?p=home_schoolfeeinvoice_student&functionid=109' ><span>Hóa đơn Học phí</span></a></li><li><a href='../sites/index.aspx?p=home_schoolfeepayment_student&functionid=110' ><span>Lịch sử Thanh toán</span></a></li><li><a href='../sites/index.aspx?p=home_tuitionfeepolicy_student&functionid=111' ><span>Quy định Học phí</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=154' ><span>Hướng dẫn nộp Học phí qua Ngân hàng</span></a></li></ul><p class='item' >Thư viện</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=96' ><span>Nội quy Thư viện DTU</span></a></li><li><a href='../Sites/ssoelib.aspx?functionid=19'  target='_blank'><span>DTU e-Lib</span></a></li><li><a href='../Sites/ssoelib.aspx?elibtype=1&functionid=84'  target='_blank'><span>tailieu.duytan.edu.vn</span></a></li><li><a href='../Sites/ssodspace.aspx?functionid=98'  target='_blank'><span>Thư viện số</span></a></li></ul><p class='item' >Phần mềm</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=116' ><span>Microsoft DreamSpark</span></a></li></ul><p class='item' >Sổ tay Sinh viên</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=68' ><span>Định hướng cho Tương lai</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=165' ><span>Đăng ký Học phần</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=94' ><span>Chương trình, Môn, Lớp & Kỳ</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=167' ><span>Thang điểm Đánh giá & Kết quả Học tập</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=166' ><span>Cách tính điểm Đánh giá Học phần</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=92' ><span>Phụ lục A: Cấu trúc Mã Môn học</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=93' ><span>Phụ lục B: Hình thức Lớp học</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=95' ><span>Phụ lục C: Hệ Chính quy</span></a></li></ul><p class='item' >Đăng Ký Cấp Giấy xác nhận</p><ul><li><a href='../Sites/ssodkgxn.aspx?functionid=149'  target='_blank'><span>Đăng ký Cấp Giấy xác nhận</span></a></li></ul><p class='item' >Các Vấn đề Cơ sở Vật chất</p><ul><li><a href='../sites/index.aspx?p=home_facilityissuereporting_currentschedule&functionid=134' ><span>Báo cáo Sự cố Phòng học</span></a></li></ul><p class='item' >Quy định Sử dụng myDuyTan</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=88' ><span>Đối với Sinh viên/Học viên</span></a></li></ul><p class='item' >Hướng dẫn Sử dụng MyDTU</p><ul><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=174' ><span>Tài Liệu Hướng Dẫn myDTU</span></a></li><li><a href='../sites/index.aspx?p=home_infowebpart&functionid=180' ><span>Video Clip Hướng Dẫn myDTU</span></a></li></ul>

<style>
    .elearning-new {
        text-align: center;
        margin: 0px 1px 0 2px;
        background-color: #D82C2C;
        padding: 10px;
    }

        .elearning-new a {
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }

            .elearning-new a span {
                color: #fff;
                font-size: 11px;
                display: block;
                text-transform: none;
                font-weight: normal;
                margin-top: 5px;
            }

            .elearning-new a:hover {
                text-decoration: underline;
            }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".accordion2 p").click(function () {
            $(this).next("ul").slideToggle("normal")
            .siblings("ul:visible").slideUp("normal");
            $(this).toggleClass("active");
            $(this).siblings("p").removeClass("active");

            //
            $(this).next("ul").find('a').each(function (i, val) {
                //console.log(i);
                console.log(this.text + " - " + $(this).outerHeight());
                if ($(this).outerHeight() > 41) {
                    $(this).attr("style", "line-height:18px;padding-top:3px;padding-bottom:3px;");
                }
            });
        });

        //
        $('.accordion2 ul li a').each(function (i, val) {
            //console.log(this.text + " - " + $(this).outerHeight());
            if ($(this).outerHeight() > 41) {
                $(this).attr("style", "line-height:18px;padding-top:3px;padding-bottom:3px;");
            }
        });
    });
</script>




        </div>
    </div>
</div>
<!-- end content-left-->

</div>
            </div>
            <div id="right_zone" style="float: right; width: 75%; padding-left: 10px;">
                
                <div class="main-border-top">
                    <span class="functionname"><span>
                        <img src='../MasterPages/icons/chucnang.png' />Hóa đơn Học phí <span id="tuanthu" style="display: inline;"></span></span></span>
                </div>
                
                <div class="main-border-center">
                    <div id="ctl00_PlaceHolderContentArea_ctl00_RightZone" class="column2" style="width:100%;">
	
                        <!--710px-->
                    
<link href="../../../Modules/tuitionfee/css/style-payment.css" rel="stylesheet" />
<script type="text/javascript" charset="utf-8">
    $(function () {
        var tabContainers = $('div.tabs > div');
        tabContainers.hide().filter(':first').show();

        $('div.tabs ul.tabNavigation a').click(function () {
            tabContainers.hide();
            tabContainers.filter(this.hash).show();
            $('div.tabs ul.tabNavigation a').removeClass('selected');
            $(this).addClass('selected');
            return false;
        }).filter(':first').click();
    });
</script>
<div class="tabs">
    <ul class="tabNavigation">
        <li><a style="text-transform: none;" href="#hoadonhocphi">Hóa đơn Học phí (Mới nhất)
        </a></li>
        <li><a style="text-transform: none;" href="#lichsuhoadonhocphi">Lịch sử Xuất Hóa đơn Học phí
        </a></li>
        <li><a style="text-transform: none;" href="#hoadonso">Hóa đơn số
        </a></li>
    </ul>
    <div style="display: none; clear: both;" id="hoadonhocphi">
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_updProgress" style="display:none;">
		
                <div style="text-align: center; padding: 3px 0;">
                    <img alt="progress" src="../../images/ajax-loader1.gif" />
                    Đang xử lý...
                </div>
            
	</div>
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanelListOfClassBySemester">
		
                <br />
                <table style="width: 100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-weight: bold; width: 165px; padding: 5px 0;">
                            Chọn Năm học:
                        </td>
                        <td style="width: 180px; padding: 5px 0;">
                            <select name="ctl00$PlaceHolderContentArea$ctl00$ctl01$cboNamHoc" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$PlaceHolderContentArea$ctl00$ctl01$cboNamHoc\&#39;,\&#39;\&#39;)&#39;, 0)" id="ctl00_PlaceHolderContentArea_ctl00_ctl01_cboNamHoc" style="width:170px;">
			<option value="0">Chọn Năm học</option>
			<option value="78">Năm Học 2022-2023</option>
			<option selected="selected" value="74">Năm Học 2021-2022</option>
			<option value="69">Năm Học 2020-2021</option>
			<option value="65">Năm Học 2019-2020</option>
			<option value="61">Năm Học 2018-2019</option>
			<option value="57">Năm Học 2017-2018</option>
			<option value="53">Năm Học 2016-2017</option>
			<option value="49">Năm Học 2015-2016</option>
			<option value="45">Năm Học 2014-2015</option>

		</select>
                        </td>
                        <td style="font-weight: bold; width: 110px; padding: 5px 0;">
                            Chọn Học kỳ:
                        </td>
                        <td style="padding: 5px 0;">
                            <select name="ctl00$PlaceHolderContentArea$ctl00$ctl01$cboHocKy" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$PlaceHolderContentArea$ctl00$ctl01$cboHocKy\&#39;,\&#39;\&#39;)&#39;, 0)" id="ctl00_PlaceHolderContentArea_ctl00_ctl01_cboHocKy" style="width:170px;">
			<option value="0">Chọn Học kỳ</option>
			<option value="75">Học Kỳ I</option>
			<option selected="selected" value="76">Học Kỳ II</option>
			<option value="77">Học Kỳ H&#232;</option>

		</select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;
                        </td>
                    </tr>
                </table>

                

                <div style="padding: 10px 0; border-top: #999 dashed 1px; background-color: #E7E6E6" class="classtit1">
                    Thông tin Hóa đơn
                </div>
                <table class="tbclass-course border-none">
                    <tr>
                        <td style="width: 100px">Số Hóa đơn:</td>
                        <td class="tit-highlight">-/-</td>
                    </tr>
                    <tr>
                        <td style="width: 100px">Loại Hóa đơn:</td>
                        <td class="tit-highlight">Hóa Đơn BÁN</td>
                    </tr>
                    <tr>
                        <td>Ngày lập:</td>
                        <td class="tit-highlight">14/01/2022</td>
                    </tr>
                    <tr>
                        <td>Mục đích:</td>
                        <td class="tit-highlight">HỌC PHÍ</td>
                    </tr>
                    <tr>
                        <td>Học kỳ:</td>
                        <td class="tit-highlight">Học Kỳ II - Năm Học 2021-2022</td>
                    </tr>
                    <tr>
                        <td class="tit-highlight">Mã Sinh viên:</td>
                        <td class="tit-highlight">27211239157</td>
                    </tr>
                    <tr>
                        <td class="tit-highlight">Họ tên Sinh viên:</td>
                        <td class="tit-highlight">
                            Trần Thế Tường                                                        
                        </td>
                    </tr>
                </table>
                <div style="padding: 10px 0; background-color: #E7E6E6" class="classtit1">
                    Chi tiết Hóa đơn
                </div>
                <table class="tbclass-course">
                    <tr>
                        <td style="font-weight: bold; text-align: center; width: 140px;">Ngày xuất</td>
                        <td style="font-weight: bold; text-align: center">Tên phí</td>
                        <td style="font-weight: bold; text-align: center">Số tiền</td>
                        <td style="font-weight: bold; text-align: center; width: 100px;">Loại tiền</td>
                    </tr>
                    
                    <tr>
                        <td>00:10:50 - 28/01/2022</td>
                        <td style="padding-left: 5px">Phí Chương Trình Cử Nhân Đại Học - Công Nghệ Phần Mềm</td>
                        <td style="text-align: right">11.520.000</td>
                        <td>Việt Nam Đồng</td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" style="color: #c10000; font-weight: bold; text-transform: uppercase; text-align: right;">Tổng tiền:</td>
                        <td style="text-align: right; color: #c10000; font-weight: bold;">11,520,000</td>
                        <td style="color: #c10000; font-weight: bold;">Việt Nam Đồng</td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" style="color: #c10000; font-weight: bold; text-transform: uppercase; text-align: right;">SỐ TIỀN (CÒN LẠI) CẦN THANH TOÁN:</td>
                        <td style="text-align: right; color: #0170F5; font-weight: bold;">0</td>
                        <td style="color: #0170F5; font-weight: bold;">Việt Nam Đồng</td>
                    </tr>

                    
                    <tr>
                        <td colspan="2" style="color: #0170F5; text-align: right;">
                            Số Tiền Hiện có trong Tài khoản Tài chính Cá nhân:
                            
                        </td>
                        <td style="text-align: right; color: #c10000;">
                            0
                            
                        </td>
                        <td style="color: #c10000;">
                            Việt Nam Đồng
                            
                        </td>
                    </tr>

                    
                </table>
                
                <style>
                    .tbclass-course tr td {
                        height: 30px;
                    }
                </style>
            
	</div>
    </div>
    <div style="display: none; clear: both;" id="lichsuhoadonhocphi">
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdateProgress1" style="display:none;">
		
                <div style="text-align: center; padding: 3px 0;">
                    <img alt="progress" src="../../images/ajax-loader1.gif" />
                    Đang xử lý...
                </div>
            
	</div>
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanel1">
		
                <br />
                

                <div style="padding: 10px 0; border-top: #999 dashed 1px; background-color: #E7E6E6" class="classtit1">
                    Thông tin Hóa đơn
                </div>
                <table class="tbclass-course border-none">
                    <tr>
                        <td style="width: 100px">Số Hóa đơn:</td>
                        <td class="tit-highlight">-/-</td>
                    </tr>
                    <tr>
                        <td>Loại Hóa đơn:</td>
                        <td class="tit-highlight">Hóa Đơn BÁN</td>
                    </tr>
                    <tr>
                        <td>Ngày lập:</td>
                        <td class="tit-highlight">14/01/2022</td>
                    </tr>
                    <tr>
                        <td>Mục đích:</td>
                        <td class="tit-highlight">HỌC PHÍ</td>
                    </tr>
                    <tr>
                        <td>Học kỳ:</td>
                        <td class="tit-highlight">Học Kỳ II - Năm Học 2021-2022</td>
                    </tr>
                    <tr>
                        <td class="tit-highlight">Mã Sinh viên:</td>
                        <td class="tit-highlight">27211239157</td>
                    </tr>
                    <tr>
                        <td class="tit-highlight">Họ tên Sinh viên:</td>
                        <td class="tit-highlight">Trần Thế Tường</td>
                    </tr>
                </table>
                <div style="padding: 10px 0; background-color: #E7E6E6" class="classtit1">
                    Chi tiết Hóa đơn (Lịch sử Xuất Hóa đơn Học phí)
                </div>
                <table class="tbclass-course">
                    <tr>
                        <td style="font-weight: bold; text-align: center; width: 140px;"><span style="background: url('../../../Modules/tuitionfee/images/arrow_down_16x16.png') no-repeat right center; padding-right: 15px;">Ngày xuất</span></td>
                        <td style="font-weight: bold; text-align: center">Tên phí</td>
                        <td style="font-weight: bold; text-align: center">Số tiền</td>
                        <td style="font-weight: bold; text-align: center; width: 100px">Loại tiền</td>
                    </tr>
                    
                    <tr>
                        <td>00:17:09 - 14/01/2022</td>
                        <td style="padding-left: 5px">Phí Chương Trình Cử Nhân Đại Học - Công Nghệ Phần Mềm</td>
                        <td style="text-align: right">0</td>
                        <td></td>
                    </tr>
                    
                </table>
                
                <style>
                    .tbclass-course tr td {
                        height: 30px;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .border-none tr td {
                        border: none !important;
                        padding-left: 5px !important;
                    }

                    .tit-highlight {
                        font-weight: bold;
                    }
                </style>
            
	</div>
    </div>
    <div style="display: none; clear: both;" id="hoadonso">
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdateProgress3" style="display:none;">
		
                <div style="text-align: center; padding: 3px 0;">
                    <img alt="progress" src="../../images/ajax-loader1.gif" />
                    Đang xử lý...
                </div>
            
	</div>
        <div id="ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanel3">
		
                <br />
                
                <div style="padding: 10px 0; border-top: #999 dashed 1px; background-color: #E7E6E6" class="classtit1">
                    Danh sách Hóa đơn
                </div>
                <table class="tbclass-course">
                    <tr>
                        <th>Số Hóa đơn</th>
                        <th>Ngày Hóa đơn</th>
                        <th>Số Chứng từ</th>
                        <th>Ngày Chứng từ</th>
                        <th>Số tiền</th>
                        <th></th>
                        <th></th>
                    </tr>
                    
                    <tr>
                        <td>DT/20E0136941</td>
                        <td>29/03/2022</td>
                        <td>DT/20P30002857</td>
                        <td>29/03/2022</td>
                        <td>11,520,000.00<br />
                            <em>(Bằng chữ: Mười một triệu năm trăm hai mươi nghìn đồng)</em></td>
                        <td>
                            <div style="padding: 3px 0"><strong>Mục đích</strong>:&nbsp;Học phí: 11520000</div>
                            <div style="padding: 3px 0"><strong>MST</strong>:&nbsp;0400396388</div>
                            <div style="padding: 3px 0"><strong>Mã bí mật</strong>:&nbsp;JZWK7R9ZZS</div>
                            <div style="padding: 3px 0; text-align: center; text-decoration: underline; color: blue"><a href="https://sinvoice.viettel.vn/tracuuhoadon-iframe" target="_blank">Tra cứu Thông tin</a></div>
                            
                            <div style="padding: 3px 0; text-align: center; text-decoration: underline; color: blue">
                                <strong>Hình ảnh Chứng từ</strong><br />
                                <span id="imgChungTu" class="xemchungtu" data="https://hfs2.duytan.edu.vn/ndJK184IUkdfn23df675/OnlineAdmission_Images_Invoices/27211239157_76.jpeg" title="Chứng từ Nộp tiền của bạn">
                                    <img src="https://hfs2.duytan.edu.vn/ndJK184IUkdfn23df675/OnlineAdmission_Images_Invoices/27211239157_76.jpeg" width="320" />
                                </span>
                            </div>
                            
                        </td>
                        <td>
                            <img src="/images/admin/download1.png" alt="Download" title="Download this E-Invoice" style="cursor: pointer" onclick="SetInvoiceId('DT/20E0136941')" /></td>
                    </tr>
                    
                    <tr>
                        <td>DT/20E0085356</td>
                        <td>06/08/2021</td>
                        <td>DT/20P2802665</td>
                        <td>06/08/2021</td>
                        <td>8,695,000.00<br />
                            <em>(Bằng chữ: Tám triệu sáu trăm chín mươi lăm nghìn đồng)</em></td>
                        <td>
                            <div style="padding: 3px 0"><strong>Mục đích</strong>:&nbsp;Học phí Học kỳ đầu: 8520000
Lệ phí khám Sức khoẻ: 100000
Phí làm Thẻ Sinh viên: 50000
Lệ phí Xét tuyển: 25000</div>
                            <div style="padding: 3px 0"><strong>MST</strong>:&nbsp;0400396388</div>
                            <div style="padding: 3px 0"><strong>Mã bí mật</strong>:&nbsp;VTSI5NISRT</div>
                            <div style="padding: 3px 0; text-align: center; text-decoration: underline; color: blue"><a href="https://sinvoice.viettel.vn/tracuuhoadon-iframe" target="_blank">Tra cứu Thông tin</a></div>
                            
                        </td>
                        <td>
                            <img src="/images/admin/download1.png" alt="Download" title="Download this E-Invoice" style="cursor: pointer" onclick="SetInvoiceId('DT/20E0085356')" /></td>
                    </tr>
                    
                </table>
                
                <style>
                    .tbclass-course tr td {
                        height: 30px;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    .border-none tr td {
                        border: none !important;
                        padding-left: 5px !important;
                    }

                    .tit-highlight {
                        font-weight: bold;
                    }
                </style>
            
	</div>
    </div>
</div>
<input type="submit" name="ctl00$PlaceHolderContentArea$ctl00$ctl01$btnDownloadInvoice" value="Download Invoice" id="ctl00_PlaceHolderContentArea_ctl00_ctl01_btnDownloadInvoice" style="display: none" />
<input type="hidden" name="ctl00$PlaceHolderContentArea$ctl00$ctl01$hidOnlineInvoiceId" id="ctl00_PlaceHolderContentArea_ctl00_ctl01_hidOnlineInvoiceId" />
<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
<style>
    #myModal {
        z-index: 99999;
    }

    .xemchungtu {
        cursor: pointer;
        color: #cf3334;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
    }

    .p1 {
        text-align: left !important;
    }

    .classBHYT, .pointer {
        cursor: pointer;
    }

    .note-fee {
        margin: 15px 0;
        padding: 20px;
        border: #c5242e dashed 3px;
        border-radius: 0px;
        font-size: 22px;
        color: #c5242e;
        text-align: center;
    }

        .note-fee a {
            color: #0b55a0;
            font-weight: 700;
            font-size: 25px;
        }
</style>
<script>
    $(document).ready(function () {
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        $("#imgChungTu").on("click", function () {
            modal.style.display = "block";
            modalImg.src = $("#imgChungTu").attr("data");
            captionText.innerHTML = $("#imgChungTu").attr("title");
        });
        $(".close").on("click", function () {
            modal.style.display = "none";
        });
    });
    function SetInvoiceId(vl) {
        console.log("vl=" + vl);
        $("#ctl00_PlaceHolderContentArea_ctl00_ctl01_hidOnlineInvoiceId").val(vl);
        if (vl + '' != '') {
            $("#ctl00_PlaceHolderContentArea_ctl00_ctl01_btnDownloadInvoice").click();
        }
    }
    function Alert() {
        console.log('Unable to connect to the API');
        alert('Unable to connect to the API');
    }
</script>
<div class="clearfix"></div>


</div>
                </div>
                
                <div class="main-border-bottom">
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="bottom_zone">
            <div id="ctl00_PlaceHolderContentArea_ctl00_BottomZone" class="column4" style="width:100%;">
	
            
</div>
        </div>
    </div>
    
</div>
<div id="footer">
    <div id="footer-wrapper">
    </div>
    <div class="footer-legal">
        Copyright&copy; 2022 <a href='http://duytan.edu.vn' target='_blank'>Đại học Duy Tân</a>.
    </div>
</div>


            </div>
        </div>
    

<script type="text/javascript">
//<![CDATA[
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanelListOfClassBySemester","displayAfter":500,"dynamicLayout":true}, null, null, $get("ctl00_PlaceHolderContentArea_ctl00_ctl01_updProgress"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanel1","displayAfter":500,"dynamicLayout":true}, null, null, $get("ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdateProgress1"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdatePanel3","displayAfter":500,"dynamicLayout":true}, null, null, $get("ctl00_PlaceHolderContentArea_ctl00_ctl01_UpdateProgress3"));
});
//]]>
</script>
</form>
    
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-26395110-6', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript" language="javascript">        
        var thistoday;
        function nt_showtime(objId,year, month, day, hours, minutes, seconds, milliseconds) {
            thistoday = new Date(year, month, day, hours, minutes, seconds, milliseconds);
            var hh = thistoday.getHours();
            var mm = thistoday.getMinutes();
            var ss = thistoday.getSeconds();

            mm = checkTime(mm);
            ss = checkTime(ss);

            t = setTimeout("nt_runtime('" + objId + "')", 1000);
        }
        
        function nt_runtime(objId) {

            var hh = thistoday.getHours();
            var mm = thistoday.getMinutes();
            var ss = thistoday.getSeconds();
            ss+=1;
                      
            if (ss>=60) { ss = -(60 - ss); mm = parseInt(mm)+1; }
            if (mm>=60) { mm = -(60 - mm); hh = parseInt(hh)+1; }
            if (hh>=24) { hh = -(24 - hh); }
            //alert(ss);
            thistoday=new Date(1990, 1, 1,hh,mm,ss);

            mm = checkTime(mm);
            ss = checkTime(ss);
            hh = checkTime(hh);
            var h1,h2,m1,m2,s1,s2;
            h1=(hh-hh%10)/10;
            h2=hh%10;
            
            m1=(mm-mm%10)/10;
            m2=mm%10;
            
            s1=(ss-ss%10)/10;
            s2=ss%10;
            document.getElementById(objId).innerHTML = '<span class="h1">'+h1+'</span><span class="h2">'+h2+'</span><span class="m1">' + m1+'</span><span class="m2">' + m2+'</span><span class="s1">' + s1+'</span><span class="s2">' + s2+'</span>';
            t = setTimeout("nt_runtime('" + objId + "')", 1000);
        }
        nt_showtime('mydate',1990,1,1,12,7,42,0);

        function ShowNotification() {
            var annoNum = '3';   
            if (annoNum > 0) {
                var url = '../../sites/index.aspx?p=home_announcements&functionid=11';
                ohSnap("Bạn có " + annoNum + " thông báo KHẨN cần đọc! <a href='" + url + "'>[Xem chi tiết]</a>", "red");
            }
        }

        ShowNotification();

        ////
        //$(window).on('mouseover', (function () {
        //    window.onbeforeunload = null;
        //}));
        //$(window).on('mouseout', (function () {
        //    window.onbeforeunload = ConfirmLeave;
        //}));
        //function ConfirmLeave() {
        //    return "";
        //}
        //var prevKey="";
        //$(document).keydown(function (e) {
        //    alert(e.key);
        //    if (e.key=="f5") {
        //        window.onbeforeunload = ConfirmLeave;
        //    }
        //    else if (e.key == "w" && prevKey == "CONTROL") {                
        //        window.onbeforeunload = ConfirmLeave;   
        //    }
        //    else if (e.key == "r" && prevKey == "CONTROL") {
        //        window.onbeforeunload = ConfirmLeave;
        //    }
        //    else if (e.key == "f4" && (prevKey == "ALT" || prevKey == "CONTROL")) {
        //        console.log(e.key);
        //        window.onbeforeunload = ConfirmLeave;
        //    }
        //    prevKey = e.key;            
        //});
    </script>
</body>
</html>