<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/test2.css">
</head>

  
  <body>

    <div>

      <ul>

      <h1>Knowledge</h1>
        <li>
          <a href="http://localhost:3000/newfeed">List knowledge</a>
        </li>
      <h1>About</h1>
        <li>
          <a href="http://localhost:3000/about">List about</a>
        </li>
      <h1>Application</h1>
        <li>
          <a href="http://localhost:3000/application">List application</a>
        </li>
      <h1>Courses </h1>
        <li>
          <a href="http://localhost:3000/courses">List courses</a>
        </li>
  
      </ul>

      <p><%=data %></p> 

    </div>

  </body>
    
</html>

























