<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/test2.css">

<style>
body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a 
{
    font-size: 20px
  
}
  
}
</style>
</head>
<body>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">


      <img id="mylogo" src="./image/cl7-nobg.png" alt="">
    <div id="myBtnContainer">
      <button class="btn1" onclick="filterSelection('about')"> About</button>
      <button class="btn2" onclick="filterSelection('info')"> Info</button>
      <button class="btn3" onclick="filterSelection('skill')">Skill</button>
      <button class="btn4" onclick="filterSelection('myproj')">My project</button>
      <button class="btn5" onclick="filterSelection('blockcontext')"> Vocabulary</button>
    </div>



  </div>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>

</script>
     
</body>
</html>

























