<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
   <nav class="navbar navbar-expand-sm navbar-dark mb-4" style="background-color: black">
       <a class="navbar-brand" href="http://fedu.vn">Fedu</a>
       <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
           aria-expanded="false" aria-label="Toggle navigation"></button>
       <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
           <ul class="navbar-nav  mt-2 mt-lg-0 ">
               <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">xem danh sach node</a>
               </li>
               
           </ul>
           
       </div>
   </nav>


<div class="container">
    <div class="row">
        <div class="col">

            <div id="noteList" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="note1">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#noteList" href="#noteContent1" aria-expanded="true" aria-controls="noteContent1">
                      ghi chu 2022
                    </a>
                        </h5>
                    </div>
                    <div id="noteContent1" class="collapse in" role="tabpanel" aria-labelledby="note1">
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis sapiente, nisi, fuga eius voluptate, necessitatibus facilis inventore perspiciatis maiores hic quibusdam ipsa commodi debitis! Provident voluptatum velit temporibus quam autem.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="note2">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#noteList" href="#noteContent2" aria-expanded="true" aria-controls="noteContent1">
                      ghi chu 2022
                    </a>
                        </h5>
                    </div>
                    <div id="noteContent2" class="collapse in" role="tabpanel" aria-labelledby="note2">
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis sapiente, nisi, fuga eius voluptate, necessitatibus facilis inventore perspiciatis maiores hic quibusdam ipsa commodi debitis! Provident voluptatum velit temporibus quam autem.
                        </div>
                    </div>
                </div>   
            </div>
        </div>
       
        
    <div class="col-4">
        <h3>Note editor</h3>

        <div class="form-group">
          <label for="note-title">tieu de note</label>
          <input type="text" class="form-control" name="note-title" id="note-title" aria-describedby="helpIdNoteTitle" placeholder="tieu de note">
          <small id="helpIdNoteTitle" class="form-text text-muted">dien tieu de</small>
        </div>
        </div>
    </div>
    





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  


</body>
</html>


























