html,body{
    background-size: cover;
    text-align: center;
    z-index: -100;
    /* background-image: url("./img/bg12.jpg"); */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", serif;
}

.Left_Header {
    position: fixed;
    z-index: 20;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #1f1f1f;
    border: 2px solid black;
    width: 85px;
    height: 55px;
    left: 0px;
}
.Left_Header:hover{
    opacity: 1;
    background-color: rgb(215 7 82);
    
}
.Right_Header {
    position: fixed;
    z-index: 20;
    background-color: #1f1f1f;
    border: 2px solid black;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 86px;
    height: 55px;
    right: 0px;
}
.Right_Header:hover{
    opacity: 1;
    background-color: rgb(215 7 82);
    
}
.Myheader2{
    position: fixed;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 55px;
    margin: 0px 0px 0px 0px;
    background: rgb(238, 72, 11);
}
.Myheader2:hover{
    transition: all 1s ease;
    opacity: 1;
}

div.icon a{
    position: fixed;
    z-index: 50;
    height: 0;
    top: 120px;
    right: 35px;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
div.icon a:hover{
    font-size: 18px;
    color: blueviolet;
}

div.icon2 a{
    position: fixed;
    z-index: 50;
    height: 0;
    top: 200px;
    right: 35px;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
div.icon2 a:hover{
    font-size: 18px;
    color: rgb(255, 0, 115);
    
}

div.icon3 a{
    position: fixed;
    z-index: 50;
    height: 0;
    top: 280px;
    right: 35px;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
div.icon3 a:hover{
    font-size: 18px;
    color: blue;
}

div.icon4 a{
    position: fixed;
    z-index: 50;
    height: 0;
    top: 360px;
    right: 35px;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
div.icon4 a:hover{
    font-size: 18px;
    color: rgb(0, 149, 255);   
}

div.icon5 a{
    position: fixed;
    z-index: 50;
    height: 0;
    top: 440px;
    right: 35px;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
div.icon5 a:hover{
    font-size: 18px;
    color: silver;   
}

.myhome{
    position: fixed;
    top: 19px;
    font-size: 20px;
    left: 13px;
    z-index: 30;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}
.myhome:hover{
    color: aqua;
}

#stack1{
    position: fixed;
    font-family: fantasy;
    font-weight: bold;
    font-style: oblique;
    color: black;
    text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
    transition: all 0.5s ease;
    z-index: 50;
    top: 11px;
    left: 75%;
    right: 30px;
    font-size: 30px;
    width: 16%;
}
@media screen and (max-width:1000px) {
    #stack1{
        position: fixed;
        top: 18px;
        left: 76%;
        right: 30px;
        font-size: 20px;
        width: 13%;
    }
}

/* @media screen and (max-width:950px) {
    #stack1{
        display: none;
    }
} */













