@import "./style_mobile.css";
@import "./link.css";
.mobilemenu{
    display: none;
    color: aliceblue;
    font-size: 40px;
}
.hello h4{
    display: none;
}
.hello h3{
    display: none;
}
li.dropdown{
    display: block;
}
.NAV {
    display: none;
}
div .column2{
  display: block;
}
.nonecl{
  display: none;
}
.dropdown2 {
    position: fixed;
    display: inline-block;
    background: rgb(238, 72, 11); 
    transition: all 0.7s ease;
    z-index: 30;
    width: 90px;
    height: 54px;
    font-size: 20px;
    top: 0px;
    left: 148px;

  }
  .dropdown3{
    position: fixed;
    display: inline-block;
    background: rgb(238, 72, 11); 
    transition: all 0.7s ease;
    z-index: 30;
    width: 90px;
    height: 54px;
    font-size: 20px;
    top: 0px;
    left: 300px;
  }
  .dropdown4{
    position: fixed;
    display: inline-block;
    background: rgb(238, 72, 11); 
    transition: all 0.7s ease;
    z-index: 30;
    width: 90px;
    height: 54px;
    font-size: 20px;
    top: 0px;
    left: 450px;
  }

  .dropdown2:hover,.dropdown3:hover,.dropdown4:hover{
    background-color: rgb(58, 58, 58);
  }
  .NAV2 {
    position: fixed;
    color: white;
    display: block;
    text-decoration: none;
    transition: all 0.7s ease;
    font-size: 15px;
    top: 21px;
    left: 152px;
  }
  .NAV3{
    position: fixed;
    color: white;
    display: block;
    text-decoration: none;
    transition: all 0.7s ease;
    font-size: 15px;
    top: 21px;
    left: 305px;
  }
  .NAV4{
    position: fixed;
    color: white;
    display: block;
    text-decoration: none;
    transition: all 0.7s ease;
    font-size: 15px;
    top: 21px;
    left: 467px;
  }
  
  .NAV2:hover,.NAV3:hover,.NAV4:hover,.Open_NAV_time:hover{
      color: aqua;
  }
  .dropdown_content2 {
    transition: all 0.7s ease;
    display: none;
    position: fixed;
    top: 54px;
    left: 150px;
    font-size: 20px;
    z-index: 0;
  }
  .dropdown_content3 {
    transition: all 0.7s ease;
    display: none;
    position: fixed;
    top: 54px;
    left: 190px;
    font-size: 20px;
    z-index: 0;
  }
  .dropdown_content4 {
    transition: all 0.7s ease;
    display: none;
    position: fixed;
    top: 54px;
    left: 231px;
    font-size: 20px;
    z-index: 0;
  }
 
  
  .dropdown2:hover .dropdown_content2,.dropdown3:hover .dropdown_content3, 
  .dropdown4:hover .dropdown_content4{
    display: block;
  }

  .my_nav2{
    position: fixed;
    font-family: Inter,sans-serif;
    position: fixed;
    z-index: 1;
    display: table;
    cursor: pointer;
    color: #fff;
    background-color: #1f1f1f;
    transition: all 0.8s ease;
    border-radius: 5px 5px;
    width: 240px;
    height: 250px;
    left: 148.5px;
    top: 54px;
  }
  .my_nav3{
    position: fixed;
    font-family: Inter,sans-serif;
    position: fixed;
    z-index: 1;
    display: table;
    cursor: pointer;
    color: #fff;
    background-color: #1f1f1f;
    transition: all 0.8s ease;
    border-radius: 5px 5px;
    width: 240px;
    height: 250px;
    left: 300.5px;
    top: 54px;
  }
  .my_nav4{
    position: fixed;
    font-family: Inter,sans-serif;
    position: fixed;
    z-index: 1;
    display: table;
    cursor: pointer;
    color: #fff;
    background-color: #1f1f1f;
    transition: all 0.8s ease;
    border-radius: 5px 5px;
    width: 240px;
    height: 250px;
    left: 450px;
    top: 54px;
  }
  
 
  .Open_NAV_time {
    position: fixed;
    color: white;
    display: block;
    z-index: 30;
    text-decoration: none;
    transition: all 0.7s ease;
    font-size: 10px;
    top: 25px;
    right: 13px;
  }

  .overlay {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 55px;
    right: 0px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .overlay_tab {
    position: relative;
    text-align: center;
    width: 50%;
    height: 200%;
    top: 13px;
    left: 26%;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -7px;
    right: 90px;
    font-size: 30px;
  }



