.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}
  
.Mymenu {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 18px;
    left: 8px;
    
}

.Mymenu #myLinks {
    display: none;
}
  
.Mymenu a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.6s ease;
}
.Mymenu a:hover{
    color:rgb(26, 241, 241);
    font-size: 23px;
}
  