html{background-image:url("hacker.jpg");}
html,h1,
iframe{text-align:center;}
h1{
    color:#8ae7e7;}
    h1{font-family:time new roman;}
img{
    position:absolute;}
img{left:1.5pt;}
img{
    top:1.5pt;}
img{
    margin-left:auto;}
img{margin-bottom:auto;}
img{
    margin-right:auto;}
img{margin-top:auto;}
img{
    box-shadow:0 0 0 1.5pt rgba(255,255,255,.5);}
img{width:30px;}img{height:1.875pc;}
iframe{
    box-shadow:0 0 0 .104166667in rgba(255,255,255,.5);}
iframe{
    width:300px;}
iframe{
    height:300px;}