p.hello{
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
    width: 100%;
    top: -60px;
    color: white;
    position: relative;
    margin-left: 5px;
}
.hello:hover{
    transform: scale(1.1);
    color: rgb(233, 8, 125);
}
.text {
    position: relative;
    top: 35px;
    text-align: center;
    line-height: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
div.all-text .text a{
    color: white;
    position: relative;
    text-decoration: none;
    top: 285px;
}
h4{
    cursor: pointer;
    position: relative;
    top: 17rem;
}
ul.text a:hover{
    color: rgb(96, 96, 211);
    text-decoration: underline;
}
.frame{
    top: -40px;
    width: 300px;
    height: 300px;
    position: relative;
}
.frame2{
    width: 400px;
    height: 300px;
    position: absolute;
    margin: 290px;
    margin-left: -22rem;
}
div.docs p{
    position: relative;
    top: 20rem;
    margin: auto;
    width: 410px;
    display: flex;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

