.contentmyproj {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 250px;
    left: 0%;
    right: 0px;
}
#toome{
    font-size: 15px;
    color: #234e9c;
    position: relative;
    left: 0px;
}

.myproj_image{
    box-shadow: 0 0 0 5px rgb(255 255 255 / 50%);
}
