html{

    
}

body{

    background-color: aliceblue;
    scroll-behavior: smooth;

    max-width: 100%;
}

.header1{

height: 50px;

width: 400px;

background-color: #11122f;

border: 1px solid white;

position: fixed;

top: 0px;

left: 0px;

z-index: 100;
}

.iconGithub a{

        position: relative;

        color: white;

        font-size: 30px;

        text-decoration: none;

        margin: auto;

        display: block;

        width: 27px;

        top: 352px;

        left: -79px;
}

.iconFacebook a{

position: relative;

color: white;

font-size: 30px;

text-decoration: none;

margin: auto;

display: block;

width: 20px;

left: 3px;

top: 323px;
}

.iconInstagram a{

position: relative;

color: white;

font-size: 30px;

text-decoration: none;

top: 292px;

display: block;

width: 25px;

margin: auto;

left: 85px;
}


.nickname{

font-family:  Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

color: #ffffff;

position: fixed;

z-index: 101;

font-size: 30px;

top: 6px;

left: 100px;

border-radius: 25px;
}

.header_item_2{

position: fixed;

border: 1px solid white;

background: #333332;

height: 50px;

width: 100%;

top: 0px;

z-index: 99;
}

.know{

    color: black;
    position: fixed;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    font-size: 40px;
    top: -53px;
    left: 400px;
}

.menu{

    background: #0b1221;
    position: fixed;
    border: 1px solid white;
    left: 0px;
    width: 400px;
    height: 100%;
    z-index: 50;
    opacity: 0.8;

}



.api1{

    color: aliceblue;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    position: relative;
    display: block;
    font-size: 10px;
    top: 70px;
    left: -20px;
    width: 375px;
    z-index: 55;

}

.image_git{

    position: fixed;

    display: block;

    margin: auto;

    top: 70px;

    left: 45%;

    z-index: 50;
}

.image_git img{

   width: 500px;
   height: 300px;


}

.layout_after{

position: absolute;

background: #999999;

bottom: 0px;

left: 0px;

height: 500px;

width: 100%;

z-index: 0;
}

.card_create{

position: fixed;

display: block;

border: 1px solid white;

margin: auto;

top: 348px;
left: 45%;

height: 100%;

width: 570px;

background: inherit;

z-index: 40;

border-radius: 10px;

/* box-shadow: 0 0 0 5px rgb(255 255 255 / 50%); */

background-image: linear-gradient(#091237, #000000), linear-gradient(to right, #f7faff, #ffffff, #ffffff);
}

.label1{

color: aliceblue;

font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

position: relative;

top: -32px;

left: 75px;

font-size: 15px;

z-index: 6;
}

.label2{

color: aliceblue;

font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

position: relative;

top: -1px;

left: 20px;

font-size: 15px;
}


.input1{

position: relative;

top: 20px;

display: block;

margin: 0px auto;

top: -50px;

/* left: 52%; */

width: 300px;

border-radius: 25px;
}
.input2{

position: relative;

display: block;

margin: 0px auto;

top: -20px;

width: 300px;

/* left: 700px; */

border-radius: 25px;
}


#newCreate{

position: relative;

top: 25px;

display: block;

margin: 0px auto;

width: 100px;

height: 30px;

font-size: 15px;

font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

transition: all 1s ease;

background: rgb(28, 28, 28);

color: aliceblue;

border: 1px solid white;

border-radius: 5px;
}

#newCreate:hover {

    background-color: whitesmoke;
    color: #000;
    border: 3px solid white;
    opacity: 1;
}

.welcomeToWeb{

position: relative;

color: #ffffff;

font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

text-decoration: none;

display: block;

margin: 0px auto;

left: 22px;

font-size: 15px;

top: 80px;

width: 250px;
}

.welcomeToWeb:hover{

    color: royalblue;
}

/* .apiImage{

    position: fixed;
    top: 500px;
    left: 500px;
    width: 300px; 
    height : 300px;
    z-index: -1;
} */

.deleteFeed{


    position: relative;
    top: -10px;
    left: 140px;
    font-size: 15px;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    transition: all 1s ease;
    background: rgb(28, 28, 28);
    color: aliceblue;
    border: 1px solid white;
    border-radius: 5px;

}

.deleteFeed:hover{

    background-color: whitesmoke;
    color: #000;
    border: 3px solid white;
    opacity: 1;
}

.errImg img{

    position: relative;
    top: 30px;
    left: 0px;
    width: 350px;
    height: 200px;
}


#list_api2{

    position: absolute;
    color: #ffffff;
    z-index: 101;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    padding: 0px;
    top: 500px;
    left: 80px;
}

.timer,.item1, .item2, .item3, .item4, .item5{

    position: fixed;
    display: block;
    white-space: pre;
    text-decoration: none;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    color: #ffffff;
    background-color: #333332;
    transition: all 1s ease;
   
    border-radius: 5px;
    top: 1.5px;
    margin: 0px 25px auto;
    padding: 15px;
    
}  

.timer{

    left: 450px;
    
}

.item1{

    
    left: 600px;
}

.item2{

    
    left: 750px;
}

.item3{

    left: 900px;
}

.item4{

   
    left: 1050px;
}

.item5{

    
    left: 1200px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover{

    background-color: #414141;
    color: white;
    
}

.page2{


    position: relative;
    display: block;
    margin: 0px auto;
    top: 90px;
    left: 200px;
    width: 400px;
    transition: all 1s ease;
    

}

.page2 p{


    color: #333332;
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;

}

.page3{

    position: relative;
    display: block;
    margin: 0px auto;
    top: 90px;
    left: 200px;
    width: 800px;
    transition: all 1s ease;


} 

.page4 h1, .page5 h1{

    position: relative;
    display: block;
    margin: 0px auto;
    top: 90px;
    left: 200px;
    width: 300px;
    transition: all 1s ease;
}

.render-mydata{

    position: relative;
    display: block;
    transition: all 1s ease;
    margin: 0px auto;
    color: #002740;
    font-family: fantasy;
    top: 40px;
    left: 230px;
    width: 900px;
    
}

.back_to_top {

    position: fixed;
    display: block;
    margin: 0px auto;
    width: 45px;
    height: 45px;
    bottom: 50px;
    right: 35px;
    text-decoration: none;
    z-index: 10;
}


.back_to_top i {

    color: #333332;
    font-size: 80px;
    transform: rotate(360deg);
    transition: all 0.5s ease;
    
    
}

.back_to_top i:hover{

    transform: rotate(180deg);
}







































